body {
  background-color: #ff0000;  
}


.Heading {
  text-align: center;
}


.Blog {
  border: 5px solid #05ffb0;
  margin-right: 300;
  margin-left: 300;
  margin-bottom: 100;
  text-align: center;
}

.Image {
  background-image: url('Monke.png');
  color: white;
  height: 250px;
  text-align: center;
}
